:root {
    --border: #e5e7eb;
    --border-radius: #6c34ef;
    --meu-gradiente: linear-gradient(to right, #6548E4, #4FC2AE);
    --background-gradiente: linear-gradient(to right, #6548E4, #8a75e7);
}

/* Reset do CSS */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    list-style: none;
    text-decoration: none;
}

body {
    height: 100%;
}

/* 
    0. R e u t i l i z a v é i s
*/
.btn {
    font-size: 1.125rem;
    padding: 0rem 3rem;
    font-weight: 700;
    height: 3.5rem;
    border-radius: 10px;
    border: none;
    cursor: pointer
}

.btn-random {
    background: var(--meu-gradiente);
    color: #fff;
    max-width: 48rem;
    transition: transform 7ms ease-out, box-shadow 7ms ease-out;
}

.btn-random:active {
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
    transform: translateY(-1px) scale(1.05);
}

@media (min-width: 1025px) {

    .btn-random {
        background: var(--meu-gradiente);
        color: #fff;
        max-width: 48rem;
        transition: transform 0.3s ease-out, box-shadow 0.3s ease-out;
    }

    .btn-random:hover {
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
        transform: translateY(-1px) scale(1.1);
    }
}


.btn-category {
    background-color: #fff;
    border: 1.7px solid var(--border);
    border-radius: 10px;
    width: 18rem;
    transition: border 3ms ease;
}

.btn-category:active {
    border: 2.5px solid var(--border-radius);
}

@media (min-width: 1025px) {
    .btn-category {
        transition: border 0.1s ease;
        min-width: 140px;

    }

    .btn-category:hover {
        border: 2.5px solid var(--border-radius);
    }
}

.text-highlight {
    background: var(--meu-gradiente);
    background-clip: text;
    color: transparent;
}

/* Cartões dos Produtos */
.card-produto {
    border-radius: 1rem;
    /* adicionado para diminuir o card do index */
    max-width: 700px;
    border: 1px solid var(--border);
}

.card-produto__imagem {
    height: 270px;
    position: relative;
}

.card-produto__imagem img {
    object-fit: contain;
    height: 100%;
    width: 100%;
    padding: 1rem 0rem;
}

.card-produto__categoria {
    position: absolute;
    color: #fff;
    padding: 0.3rem 0.7rem;
    border-radius: 50px;
    background: var(--background-gradiente);
    top: 1rem;
    right: 1rem;
}

.card-produto__description {
    display: flex;
    flex-direction: column;
    gap: 12px;
    text-align: start;
    padding: 1.5rem;
}

.card-produto__description h3 {
    font-size: 20px;
}

.card-produto__description p {
    font-size: 14px;
}

/* 
    1. H e a d e r
*/
.main-header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15vh;
    padding: 0rem 1rem;
    border-bottom: 1px solid var(--border);
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(20px);
    z-index: 1000;
}

.main-header__title {
    display: flex;
    align-items: center;
    font-weight: 700;
    gap: 0.75rem;
}
/* Faz o menu desaparecer no celular */
.main-header__navbar {
    display: none;
}

/* Faz o menu aparecer no header no computador */
@media (min-width: 1025px) {
    .main-header__navbar {
        display: flex;
    }
}

.fa-bars,
.fa-shop,
.fa-xmark {
    font-size: 26px;
    cursor: pointer;
}

/* Faz o menu hamburguer desaparecer no desktop */
@media (min-width: 1025px) {
    #headerMenu {
        display: none;
    }
}

.main-header__navbox {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.main-header__navbox li {
    display: flex;
}

@media (min-width: 1025px) {
    .main-header__navbox {
        flex-direction: row;
    }
}

.main-header__navbox a {
    color: black;
}

.active-link {
    width: 100%;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    padding: 0.75rem 1rem;

}

.active-link:hover {
    background-color: #eae9eb;
}

@media (min-width: 1025px) {
    .active-link:hover {
        color: #6548E4;
        background-color: transparent;
    }
}

.active-link.active-page {
    background-color: #ECE6F9;
    color: #6E36EF
}

.active-page:active {
    background-color: #eae9eb;
}

@media (min-width: 1025px) {
    .active-link.active-page {
        background-color: transparent;
        color: #6E36EF
    }

    .active-page:hover {
        background-color: transparent;
    }
}

.active {
    background-color: #fff;
    border-bottom: 1px solid var(--border);
    display: block;
    position: fixed;
    padding: 1rem;
    width: 100vw;
    top: 15vh;
    left: 0;
    right: 0;
}

/* 
    2. M a i n - A m b o s
*/

.main-content {
    margin-top: 15vh;
    min-height: 70vh;
    padding: 4rem 1rem;
    text-align: center;
}

@media (min-width: 1025px) {
    .main-content {
        padding: 6rem 6.5rem;
    }
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin-bottom: 4rem;
}

.hero__title {
    line-height: 1;
    font-weight: 900;
    font-size: 3rem;
}


@media (min-width: 1025px) {
    .hero__title {
        font-size: 6rem;
    }
}

.hero__description {
    font-size: 1.125rem;
}

@media (min-width: 1025px) {
    .hero__description {
        font-size: 1.5rem;
    }
}

/* 
    2. H o m e
*/

#gallery-random{
    display: flex;
    justify-content: center;
}

/* 
    3. C a t e g o r i a s
*/

.hero__btn-box {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

@media (min-width: 1025px) {
    .hero__btn-box {
        display: flex;
        flex-direction: row;
        gap: 1rem;
    }
}

.box--little {
    margin-right: 8px;
}

/* Inicia os cards em apenas 1 coluna */
#gallery__placeholder {
    display: grid;
    justify-content: center;
    gap: 2rem;
}

/* Faz com que haja 3 colunas no desktop */
@media (min-width: 1025px) {
    #gallery__placeholder {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 2rem;
    }
}

/* 
    4. F o o t e r
*/
.main-footer {
    height: 15vh;
    border-top: 1px solid var(--border);
    display: flex;
    justify-content: center;
    align-items: center;
}